<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2JMdd6_4mx54Mavtmdk6y8GzVwYY-0KY</string>
	<key>GCM_SENDER_ID</key>
	<string>324431013728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mertalp.DigitalWallet</string>
	<key>PROJECT_ID</key>
	<string>digital-wallet-b3cc6</string>
	<key>STORAGE_BUCKET</key>
	<string>digital-wallet-b3cc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324431013728:ios:6e220882e428dc9b25e005</string>
</dict>
</plist>